<div class="show_container">
  <ul>
    <h2><%= @item.name %></h2>
    <li>ID:<%= @item.id %></li>
    <li>Code:<%= @item.code %></li>
    <li>Price:<%= @item.price %></li>
    <li>Category ID: <%= @item.category.id %></li>
    <li>Category Name: <%= @item.category.name %></li>
    <li>Item Note: <%= @item.note %></li>
  </ul>
</div>
