<% provide(:title, "カテゴリー作成") %>

<% provide(:title, "アイテム作成") %>
<%= form_for @category do |f| %>
 <% if @category.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@category.errors.count, "error") %> エラーの為保存出来ません</h2>

   <ul>
   <% @category.errors.full_messages.each do |message| %>
     <li><%= message %></li>
   <% end %>
   </ul>
 </div>
 <% end %>

 <div class="form-group mt_50">
   <%= f.label :code %>
   <%= f.text_field :code,placeholder: "codeを入力して下さい", class: 'form-control' %>
 </div>

 <div class="form-group mt_50">
   <%= f.label :カテゴリー名 %>
   <%= f.text_field :name,placeholder: "商品名を入力して下さい", class: 'form-control' %>
 </div>

<div class="form flex">
 <%= f.submit class: "btn btn-primary active" %>
</div>
 <% end %>
