<!DOCTYPE html>
<html>
  <head>
    <title>prapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="sidebar">
      <ul>
        <li><h2><%= link_to 'カテゴリマスタ', root_path %></h2></li>
        <li><h2><%= link_to 'アイテムマスタ', items_path %></h2></li>
      <ul>
    </div>
    <div class="main">
    <%= yield %>
    </div>
  </body>
</html>
